[Desktop Entry]
Name=FatCRM
Name[ca]=FatCRM
Name[cs]=FatCRM
Name[da]=FatCRM
Name[de]=FatCRM
Name[el]=FatCRM
Name[en_GB]=FatCRM
Name[eo]=FatCRM
Name[es]=FatCRM
Name[et]=FatCRM
Name[fr]=FatCRM
Name[ga]=FatCRM
Name[gl]=FatCRM
Name[hu]=FatCRM
Name[it]=FatCRM
Name[ja]=FatCRM
Name[km]=FatCRM
Name[ko]=FatCRM
Name[lv]=FatCRM
Name[nb]=FatCRM
Name[nds]=FatCRM
Name[nl]=FatCRM
Name[nn]=FatCRM
Name[pa]=FatCRM
Name[pl]=FatCRM
Name[pt]=FatCRM
Name[pt_BR]=FatCRM
Name[ro]=FatCRM
Name[ru]=FatCRM
Name[sr]=FatCRM
Name[sr@ijekavian]=FatCRM
Name[sr@ijekavianlatin]=FatCRM
Name[sr@latin]=FatCRM
Name[sv]=FatCRM
Name[tr]=FatCRM
Name[uk]=FatCRM
Name[x-test]=xxFatCRMxx
Name[zh_CN]=FatCRM
Name[zh_TW]=FatCRM
Exec=fatcrm %i -caption "%c"
Icon=fatcrm
Type=Application
X-DocPath=fatcrm/index.html
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.fatcrm
GenericName=Desktop application for SugarCRM
Terminal=false
X-DBUS-ServiceName=org.kde.fatcrm
