# general
apidocs
.kdev4
build
*~
*.bak
*.kdev4
*.orig
*.rej
doxygen.log
Doxyfile
.*kate-swp
build/
mem.log.*
massif.*
callgrind.*
perf.data*

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# from QtCreator
*.user
