[Misc]
Name=CRM Account Serializer
Comment=An Akonadi serializer plugin for CRM Account objects

[Plugin]
Type=application/x-vnd.kdab.crm.account
X-KDE-Library=akonadi_serializer_sugaraccount
X-Akonadi-Class=legacy;default;SugarAccount;
