[Misc]
Name=CRM Opportunity Serializer
Comment=An Akonadi serializer plugin for CRM Opportunities objects

[Plugin]
Type=application/x-vnd.kdab.crm.opportunity
X-KDE-Library=akonadi_serializer_sugaropportunity
X-Akonadi-Class=legacy;default;SugarOpportunity;
