[Desktop Entry]
Name=FatCRM Invoker
Name[x-test]=xxFatCRM Invokerxx
Exec=fatcrminvoker %f
Icon=fatcrm
Type=Application
MimeType=application/x-vnd.kdab.crm.contacts_csv;
X-DocPath=fatcrminvoker/index.html
GenericName=Wrapper application for FatCRM
Terminal=false
Categories=Office;Database
